<% provide(:title, "Sign up") %>
<div class="row mt-4">
  <div class="col-md-6 m-auto">
    <h4 class="text-center mb-4">
      Sign up and get 100 free minutes. No credit card!
    </h4>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :full_name %>
        <%= f.text_field :full_name, auto_focus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>      
      <%= f.submit "Sign up", class: "btn btn-primary mb-4", id: "signup" %>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
