<% provide(:title, @movie.title) %>
<div class="row">
  <div class="col-lg-4 offset-lg-1 mt-3">
    <%= link_to movie_path(@movie), class: "br-card-img-link" do %>
      <%= image_tag @movie.image, class: "img-fluid movie-preview" %>
    <% end %>
  </div>
  <div class="col-lg-5 mt-3">
    <h1><%= @movie.title %></h1>
    <p><%= @movie.description %></p><br>
    <%= link_to "Watch Now!", movie_path(@movie), class: "btn btn-lg btn-success" %>
  </div>
</div>


<% unless user_signed_in? %>
  <script>
    $(".btn-success").click(function(e) {
      authModal(e);
    });

    $(".br-card-img-link").click(function(e) {
      authModal(e);
    });
  </script>
<% end %>