<% provide(:title, "Library") %>

<% if @videos.any? %>
  <div class="align-right">
    <span class="btn btn-primary mt-4 ml-auto" id="select-files" data-controller="video-upload">
      Upload a new video
    </span>
  </div>
  <div class="mt-2">
    <table class="table library-table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Duration</th>
          <th>Views</th>
          <th>Date Added</th>
        </tr>
      </thead>
      <tbody>
        <% @videos.order(created_at: :desc).each do |video| %>
          <tr onclick="window.location = '<%= edit_video_path(video) %>' ">
            <td><%= video.title %></td>
            <td><%= youtube_time(video.duration) if video.duration %></td>
            <td><%= video.minutes %></td>
            <td><%= video.created_at.to_formatted_s(:db) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="row mt-4">
    <div class="col-md-6 m-auto text-center">
      <p class="lead">
          Browzable helps video creators earn money.
          Your viewers will pay &cent;1 for every minute they spend watching your content,
          and you get 70%.
      </p>
      <span class="btn btn-primary mt-4 ml-auto" id="select-files" data-controller="video-upload">
        Choose videos to upload
      </span>
    </div>
  </div>
<% end %>

<% if current_user.category == "uploader" && current_user.created_at > 10.seconds.ago %>
  <script>
    fbq("track", "completeRegistration");
    gtag("event", "sign_up");
    gtag('event', 'conversion', {'send_to': 'AW-826306890/5HbkCIXqsO0BEMrigYoD'});
  </script>
<% end %>