<% provide(:title, @user.full_name) %>
<br>
<div class="row" data-controller="profile">
  <div class="col-md-4 offset-md-4">
    <div class="profile-card">
      <div class="profile-pic">
        <%= cl_image_tag @user.image, client_hints: true, transformation: [ 
                          { gravity: "auto", width: "150", height: "150", radius: "max", crop: "fill" }], id: "cloudinary-image" %>
      </div>
      <div class="loader"></div>
      <div>
        <h4><%= @user.full_name %></h4>
      </div>
      <div class="stats">
        <span><%= @user.videos.viewable.count %> Videos</span> | 
        <span><%= number_to_human(@user.balance/60) %> Minutes</span>
      </div>
    </div>
  </div>
  <div class="col-md-4 text-right">
    <% if @user == current_user %>
      <%= form_with scope: :user, url: "/profile", method: :patch, remote: true, id: "profile-pic-form" do |form| %>
        <a href="javascript:void(0)" id="file-upload">Change profile image</a>
        <%= form.hidden_field :image, id: "image-field" %>
        <%= form.submit "Update", class: "btn btn-primary profile-save" %>
      <% end %>
    <% end %>
  </div>
</div>
<hr>
<%= render 'videos/list', videos: @user_videos %>
