<div class="row">
  <div class="col-lg-10 m-auto">
    <%= cl_image_tag(@video.image, class: "img-fluid mt-3" ) %>
    <div class="video-info-container">
        <h4><%= @video.title %></h4>
        <span><%= @video.minutes %> Views</span> | <span><%= time_ago_in_words(@video.created_at) %> ago</span>
        <button type="button" class="btn btn-secondary share-link float-right" data-toggle="modal" data-target="#iframe-modal">Share</button>
        <hr>
      <div class="user-info">
       <%= cl_image_tag @video.user.image, client_hints: true, transformation: [ 
                          { gravity: "auto", width: "50", height: "50", radius: "max", crop: "fill" }] %>
        <%= link_to @video.user.full_name, user_path(@video.user.username), class: "uploader-link" %>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/auth_modal' %>

<script>
  $(document).on("turbolinks:load", function() {
    $(".video-info-container").show();
    $('#login-modal').modal();
  });
</script>
