<% provide(:title, "Edit Video") %>
<br>

<div class="row">
  <div class="col-md-4">
    <div class="preview-container">
      <%= link_to video_path(@video) do %>
        <%= cl_image_tag(@video.image, :client_hints=>true, :transformation=>[
        {:aspect_ratio=>"16:9", :gravity=>"auto", :crop=>"fill"},
        {:width=>"auto", :quality=>"auto", :fetch_format=>:auto, :crop=>"scale"}
        ], class: "img-fluid preview-image") %>
      <% end %>
      <div class="preview-loader"></div>
    </div>
    <div>
      <label id="change-preview" for="preview-upload" class="btn btn-secondary upload-preview-btn mt-1">Change preview</label>   
    </div>
    <div class="embed-code-container bg-light">
      <h5>Link</h5>
      https://www.browzable.com/videos/<%= @video.id %>
      <br><br>
      <h5>Embed Code</h5>
      &lt;iframe width="560" height="315" src="https://www.browzable.com/embeds/<%= @video.id %>" frameborder="0" allowfullscreen&gt;&lt;/iframe&gt;
    </div>
  </div>
  <div class="col-md-7 offset-md-1">
    <h4>Edit <%= @video.title %></h4>
    <%= form_with(model: @video, local: true) do |form| %>
      <div class="mb-3">
        <%= form.label :title %>
        <%= form.text_field :title, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= form.label :description %>
        <%= form.text_area :description, class: "form-control" %>
      </div>
      <%= form.hidden_field :image, id: "image-field" %>
      <div class="mb-3">
        <%= form.submit "Save", class: "btn btn-primary mt-3" %>
      </div>
    <% end %>

    <div class="delete-section mb-auto">
      <hr>
      <%= link_to "Delete Video", 
          video_path(@video),
          method: :delete,
          class: "btn btn-danger",
          data: {confirm: "Are you sure?"} %>
    </div>
  </div>
</div>

<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>
<script>
const uploader = cloudinary.createUploadWidget({
  cloudName: 'dvizsamps',
  apiKey: "845485225187822",
  uploadPreset: "ur1v3sps",
  multiple: false,
}, (error, result) => { 
    if (!error && result && result.event === "success") { 
      console.log('Done! Here is the image info: ', result.info);
      var id = result.info.public_id;
      var oldUrl = document.querySelector(".preview-image").getAttribute("src");
      var newUrl = oldUrl.replace(/\w+$/, id);
      document.querySelector(".preview-image").setAttribute("src", newUrl);
      document.querySelector("#image-field").setAttribute("value", id);
      console.log(id, newUrl);
    }
  }
)

document.getElementById("change-preview").addEventListener("click", function(){
  uploader.open();
}, false);
</script>
