<% provide(:title, "Edit Video") %>
<br>

<div class="row">
  <div class="col-md-4">
    <%= link_to video_path(@video) do %>
      <%= cl_image_tag(@video.image, :client_hints=>true, :transformation=>[
      {:aspect_ratio=>"16:9", :gravity=>"auto", :crop=>"fill"},
      {:width=>"auto", :quality=>"auto", :fetch_format=>:auto, :crop=>"scale"}
      ], class: "img-fluid preview-image") %>
    <% end %>
    <div class="preview-loader"></div>
    <div>
      <label for="preview-upload" class="btn btn-secondary upload-preview-btn mt-1">Change preview</label>   
      <%= cl_image_upload_tag(:image_id, aria_hidden: true) %>
    </div>
    <div class="embed-code-container bg-light">
      <h5>Link</h5>
      https://www.browzable.com/videos/<%= @video.id %>
      <br><br>
      <h5>Embed Code</h5>
      &lt;iframe width="560" height="315" src="https://www.browzable.com/embeds/<%= @video.id %>" frameborder="0" allowfullscreen&gt;&lt;/iframe&gt;
    </div>
  </div>
  <div class="col-md-7 offset-md-1">
    <h4>Edit <%= @video.title %></h4>
    <%= form_with(model: @video, local: true) do |form| %>
      
      <div class="form-group">
        <%= form.label :title %>
        <%= form.text_field :title, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :description %>
        <%= form.text_area :description, class: "form-control" %>
      </div>
      <div class="form-check form-check-inline">
        <%= form.label :public, "show", class: "form-check-label" do %>
          <%= form.radio_button :public, true, checked: true, class: "form-check-input" %> Public
        <% end %>
      </div>
      <div class="form-check, form-check-inline">
        <%= form.label :public, "hide", class: "form-check-label" do %>  
          <%= form.radio_button :public, false, checked: false, class: "form-check-input" %> Private
        <% end %>
      </div>
      <div class="form-group">
        <%= form.submit "Save", class: "btn btn-primary mt-3" %>
      </div>
      

    <% end %>
    <div class="delete-section mb-auto">
      <hr>
      <%= link_to "Delete Video", 
          video_path(@video), 
          method: :delete, 
          class: "btn btn-danger", 
          data: {confirm: "Are you sure?"} %>
    </div>
    <%= cloudinary_js_config %>
  </div>
</div>
<script>
  $(document).on("turbolinks:load", function() {

    $(".cloudinary-fileupload").attr("id", "preview-upload");
    
    if($.fn.cloudinary_fileupload !== undefined) {

      $("input.cloudinary-fileupload[type=file]").cloudinary_fileupload({
      });

      $('.cloudinary-fileupload').bind('fileuploadadd', function(e, data) { 
        $(".loader").show();
      });

      $('.cloudinary-fileupload').bind('cloudinarydone', function(e, data) {  
        var id = data.result.public_id;
        var format = data.result.format;
        var version = data.result.version;
        var tail = "/v" + version + "/" + id + "." + format;
        var oldUrl = $(".preview-image").attr("src");

        console.log(oldUrl);
        var newUrl = oldUrl.replace(/\/v.*$/, tail);
        // var url = "https://res.cloudinary.com/eli/image/upload/w_200/v" + version + "/" + id + "." + format;
        $(".preview-image").attr("src", newUrl);
        $(".loader").hide();
        console.log(id, format, version);
      });
    }
  });
</script>