<% provide(:title, "Upload") %>

<script>
  fbq('track', 'CompleteRegistration');
</script>

<br>
<div class="row">
  <div class="col-md-6 m-auto text-center">
    <p class="lead">
        Browzable helps video creators earn money. 
        Your viewers will pay &cent;1 for every minute they spend watching your content, 
        and you get 70%.
    </p><br>
    <div class="file_type_alert"></div>
    <%= form_with(model: Video.new, local: true) do |form| %>
      <% if @video.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>
          <ul>
          <% @video.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
        <label for="video_clip" class="custom-file-upload custom-file-upload-lg">
          Choose videos to upload
        </label>
        <%= form.file_field :clip, id: :video_clip, 
            multiple: true,
            accept: ".mp4",
            name: "video[clip]", 
            class: "video-upload" %>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 m-auto">
    <ul id="videos" class="list-group">
    </ul>
    <br>
    <%= link_to 'Continue', library_path, class: "btn btn-primary", id: "continue" %>
  </div>
</div>

<script>
  function gtag_report_conversion(url) {
    var callback = function () {
      if (typeof(url) != 'undefined') {
        window.location = url;
      }
    };
    gtag('event', 'conversion', {
        'send_to': 'AW-826306890/RYiACO-80nsQyuKBigM',
        'event_callback': callback
    });
    return false;
  }
  $(".video-upload").click(function() {
    gtag_report_conversion();
    console.log("upload conversion reported");
  });
</script>
