<div class="landing-nav d-flex justify-content-between p-3">
  <div class="browzable-brand">
    <%= link_to root_path do %>
      <%= image_tag "browzable_logo_white.png", width: 130, height: 32, class: "mb-1 br-logo" %>
    <% end %>
  </div>
  <%= link_to "Log in", new_user_session_path, class: "btn btn-primary" %>
</div>
<div class="container text-white d-flex justify-content-center">
  <div class="landing-content text-center">
    <h1>Watch dozens of movies and tv shows</h1>
    <h5>Sign up and get 100 minutes free!</h5>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-lg btn-primary mt-2" %>
  </div>
</div>
<%= render 'layouts/footer' %>