<br>
<footer class="footer text-muted">
  <div class="container text-center">
    <div class="footer-links">
      <%= link_to "About", "/about", class: "footer-link" %>
      <%= link_to "Contact", "/contact", class: "footer-link"%>
      <%= link_to "Privacy", "/privacy", class: "footer-link" %>
      <%= link_to "Terms", "/terms", class: "footer-link" %>
      <% if current_user && current_user.admin? %>
        <%= link_to "Admin", "/admin", class: "footer-link" %>
      <% end %>
    </div>
  </div>
</footer>