<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Accept-CH" content="DPR, Viewport-Width, Width">

    <title><%= full_title(yield(:title)) %></title>

    <% if params[:controller] == 'videos' && params[:action] == 'show' %>
      <meta name="turbolinks-cache-control" content="no-cache">
    <% end %>

    <%= render 'layouts/gtag' %>
    <%= csrf_meta_tags %>
    <%= description_meta_tag(yield(:description)) %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://cdn.jwplayer.com/libraries/NEHubOqB.js"> </script>
    <script src="https://js.braintreegateway.com/web/dropin/1.8.0/js/dropin.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
    
  </head>

  <%= content_tag :body, data: { action: action_name, controller: controller_name } do %>
    <% if params[:controller] == "embeds" %>
      <%= yield %>
    <% elsif action_name == "welcome" %>
      <%= render 'layouts/nav' %>
      <%= render 'shared/auth_modal' unless user_signed_in? %>
      <%= yield %>
    <% else %>
      <%= render 'layouts/nav' %>
      <%= render 'shared/auth_modal' unless user_signed_in? %>
      <%= content_tag :main, class: "container" do %>
        <% flash.each do |message_type, message| %>
          <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
        <% end %>
        <%= yield %>
      <% end %>
      <%= render 'layouts/footer' %>
    <% end %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'bootstrap' %>
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/6260493.js"></script>
  <% end %>
</html>







