<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Accept-CH" content="DPR, Viewport-Width, Width">

    <title><%= full_title(yield(:title)) %></title>

    <% if params[:controller] == 'videos' && params[:action] == 'show' %>
      <meta name="turbolinks-cache-control" content="no-cache">
    <% end %>

    <%= render 'layouts/gtag' %>
    <%= csrf_meta_tags %>
    <%= description_meta_tag(yield(:description)) %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://content.jwplatform.com/libraries/nS0lyy3E.js"> </script>
    <script src="https://js.braintreegateway.com/web/dropin/1.8.0/js/dropin.min.js"></script>
    
  </head>

  <%= content_tag :body, data: { action: action_name, controller: controller_name } do %>
    <% unless params[:controller] == "embeds" %>
      <%= render 'layouts/nav' %>
      <% if params[:controller] == 'movies' && params[:action] == 'show' %>
        <%= yield %>
      <% else %>
        <%= content_tag :main, class: "container" do %>
          <% flash.each do |message_type, message| %>
            <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
          <% end %>
          <%= yield %>
        <% end %>
      <% end %>
      <%= render 'layouts/footer' %>
      <%= render 'shared/auth_modal' unless user_signed_in? %>
    <% else %>
      <%= yield %>
    <% end %>
    <%= javascript_pack_tag 'application' %>
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <% end %>
</html>







